<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta charset="UTF-8"> 
<title>AZO Social Share Buttons template test</title>
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="AZO Social Share Buttons test" />
<meta property="og:description" content="'AZO Social Share Buttons' template test." />
<meta property="og:image" content="" />
<meta property="fb:app_id" content="add-your-appid" />
<link rel="canonical" href="">
<!-- load azo_ssb -->
<script src="azo_ssb.js"></script>
<!-- link templates stylesheet -->
<link rel="stylesheet" href="azo_ssb_template1.css"></style>
</head>
<body style="background-color: lightgray;">
<div align="center">
<h1>*** Template test ***</h1>
<!-- buttons put here -->
<script src="azo_ssb_template1.js"></script>
</div>
</body>
<html>

